@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Padauk:wght@400;700&display=swap');

$primary: green;

$font-family: 'Montserrat','Padauk', sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";


// custom css
.header{
    background-color: #ffffff;
    backdrop-filter: blur(100px) contrast(100%);
    z-index: 2001;
}

.header-icon{
    width: 40px;
    height: 40px;
}

.services-svg{
    width: 65px;
    height: 65px;
    fill: var(--bs-primary);
}

.scroll-to-top{
    bottom: 50px;
    right: 50px;
}